<!doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MSP430 RAM requirements - FreeRTOS</title>
<link rel="canonical" href="/FreeRTOS_Support_Forum_Archive/August_2012/freertos_MSP430_RAM_requirements_5508567.html" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="MSP430 RAM requirements - FreeRTOS" />
<meta property="og:description" content="MSP430 RAM requirementsPosted by hansmaul1 on August 8, 2012Hi&#033; First of all, I&#8217;m new to FreeRTOS and want to see if it is suitable for the device I have available. I&#8217;m using a MSP430F5529. There is only 8K RAM on this device and I would like to know how well FreeRTOS can operate with this &hellip;" />
<meta property="og:url" content="/FreeRTOS_Support_Forum_Archive/August_2012/freertos_MSP430_RAM_requirements_5508567.html" />
<meta property="og:site_name" content="FreeRTOS" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="MSP430 RAM requirementsPosted by hansmaul1 on August 8, 2012Hi&#033; First of all, I&#8217;m new to FreeRTOS and want to see if it is suitable for the device I have available. I&#8217;m using a MSP430F5529. There is only 8K RAM on this device and I would like to know how well FreeRTOS can operate with this [&hellip;]" />
<meta name="twitter:title" content="MSP430 RAM requirements - FreeRTOS" />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="FreeRTOS &raquo; Feed" href="/feed/" />
<link rel="alternate" type="application/rss+xml" title="FreeRTOS &raquo; Comments Feed" href="/comments/feed/" />
<link rel='stylesheet' id='freertos-css'  href='/wp-content/themes/freertos/css/freertos.css?ver=1579202156' type='text/css' media='all' />
<link rel='stylesheet' id='new-styles-css'  href='/wp-content/themes/freertos/css/new-styles.css?ver=1579202156' type='text/css' media='all' />
<link rel='stylesheet' id='subheader-dropdown-css'  href='/wp-content/themes/freertos/css/subheader-dropdown.css?ver=1579202156' type='text/css' media='all' />
<link rel='stylesheet' id='download-css'  href='/wp-content/themes/freertos/css/download.css?ver=1579202156' type='text/css' media='all' />
<link rel='https://api.w.org/' href='/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml" /> 
<link rel='shortlink' href='/?p=144893' />
<link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed?url=https%3A%2F%2F%2FFreeRTOS_Support_Forum_Archive%2FAugust_2012%2Ffreertos_MSP430_RAM_requirements_5508567.html" />
<link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed?url=https%3A%2F%2F%2FFreeRTOS_Support_Forum_Archive%2FAugust_2012%2Ffreertos_MSP430_RAM_requirements_5508567.html&#038;format=xml" />
<link rel="icon" href="/wp-content/uploads/2019/02/cropped-freertos-favicon-32x32.png" sizes="32x32" />
<link rel="icon" href="/wp-content/uploads/2019/02/cropped-freertos-favicon-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="/wp-content/uploads/2019/02/cropped-freertos-favicon-180x180.png" />
<meta name="msapplication-TileImage" content="/wp-content/uploads/2019/02/cropped-freertos-favicon-270x270.png" />
  <link rel="stylesheet" type="text/css" href="/wp-content/themes/freertos/css/vendor/google-code-prettify/sons-of-obsidian.css">
</head>
<body class="support_forum-template-default single single-support_forum postid-144893">
<a name="page_top"></a>
<table>
<tr>
<td valign="top">
<table class="fr-page-top-table" cellpadding="5" cellspacing="0" align="center">
<!-- BEGIN Header -->
<tr id="main_top_header" valign="top">
  <td colspan="3" style="font-family: Arial, Helvetica; height: 100px;">
    <table class="main_top_header" style="width: 100%;" cellspacing="2" cellpadding="0" border="0">
      <tr style="padding: 0;">
        <td>
          <table width="100%" cellpadding="0" cellspacing="5px" style="table-layout:fixed;">
            <tr>
              <td style="line-height: normal;" valign="middle" width="174px" id="logo_column">
                <div style="float: left;">  <a href="/index.html">    <img id="freertos_logo" src="/media/2023/logo.png" width="164" alt="" border="0" style="padding: 0 0 0 5px;">  </a></div>              </td>
              <td style="width: 5px; border-top: solid 2px #e6e6e6; border-left: solid 2px #e6e6e6; border-bottom: solid 2px #e6e6e6;">&nbsp;</td>
              <td valign="middle" style="line-height: normal; width:324px" id="page_heading_largerx">
                <h3 id="header_heading">Quality RTOS & Embedded Software                                      <br>
                    <div class="menu-header-container"><small><small><div id="logo_links"><a id="top_header_walker" href="/Documentation/02-Kernel/01-About-the-FreeRTOS-kernel/03-Download-freeRTOS/01-DownloadFreeRTOS" target=""><u>Download FreeRTOS</u></a><font size="3">&nbsp;</font></li>
</div></small></small></div>                                  </h3>
              </td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr style="height:5px;" bgcolor="#7095d3">
        <td></td>
      </tr>
    </table>
  </td>
</tr>
<!-- END Header -->
<tr valign="top">
  <!-- BEGIN #td_main_content_column -->
  <td id="td_main_content_column">
    <!-- BEGIN #main_content -->
    <div id="main_content"><div id="navigation">
      <div id="round_corner_shadow_box_container_id" class="round_corner_shadow_box_container" style="width: 90%; margin-left: auto; margin-right: auto; padding-top: 15px; line-height: normal;" align="center">
<div class="round_corner_shadow_box_shadow">
<div class="round_corner_shadow_box_content"><span style="color: #ff0000;"><strong>NOTE</strong></span>:This is a read only archive of threads posted to the FreeRTOS support forum.  Use these archive pages to search previous posts.  New forum support threads can be started at the <a href="https://forums.freertos.org/" target="_blank" rel="noopener">FreeRTOS forums</a>.  </div>
</div>
</div>
<h2>FreeRTOS Support Archive</h2>
<p>The <a href="https://forums.freertos.org/" target="_blank" rel="noopener">FreeRTOS support forum</a> can be used for active support both from Amazon Web Services and the community. In return for using our software for free, we request you play fair and do your bit to help others! Sign up for an account and receive notifications of new support topics then help where you can.</p>
<p><img class="alignnone  wp-image-150316" src="/media/2024/forums_notification_instructions.png" alt="" width="265" height="204" srcset="/media/2024/forums_notification_instructions.png 300w, /media/2024/forums_notification_instructions.png 368w" sizes="(max-width: 265px) 100vw, 265px" /></p>
<p>&nbsp;</p>
<hr width="75%" />
<p>
This is a read only archive of threads posted to the FreeRTOS support forum.  Use these archive pages to search previous posts.  New forum support threads can be started at the <a href="https://forums.freertos.org/" target="_blank" rel="noopener">FreeRTOS forums</a>.  </p>
<p>&nbsp;</p>
    <br>
  <p>
    <br>
    <b>
      [<a href="http://www.freertos.org/" target="_blank">FreeRTOS Home</a>]&nbsp;&nbsp;
      [<a href="https://forums.freertos.org/" target="_blank">Live FreeRTOS Forum</a>]&nbsp;&nbsp;
      [<a href="/Why-FreeRTOS/FAQs" target="_blank">FAQ</a>]&nbsp;&nbsp;
              [<a href="/FreeRTOS_Support_Forum_Archive/freertos_support_forum_archive_index.html/">Archive Top</a>]&nbsp;&nbsp;
                    [<a href="/FreeRTOS_Support_Forum_Archive/August_2012_freertos_support_forum_archive_index.html/">August 2012 Threads</a>]
          </b>
  </p>
</div>
  <main class="main-content"><div class="thread-post"><h2 class="thread-post-title">MSP430 RAM requirements</h2><div class="thread-post-author">Posted by <a href="http://sourceforge.net/users/hansmaul1">hansmaul1</a> on August 8, 2012</div><div class="thread-post-content">Hi&#33;  
First of all, I&#8217;m new to FreeRTOS and want to see if it is suitable for the device I have available. I&#8217;m using a MSP430F5529. There is only 8K RAM on this device and I would like to know how well FreeRTOS can operate with this small amount of RAM.<br />
As an example, I would like to have 5 LEDs that are each toggled by a task. These task should be preemptive and have different priorities.<br />
What would be the RAM overhead per task for this example? How much total RAM would be used? Is there a way to save memory by e.g. having the same memory context?  
Thanks in advance&#33;
</div></div><div class="thread-post"><h3 class="thread-post-title">MSP430 RAM requirements</h3><div class="thread-post-author">Posted by <a href="http://sourceforge.net/users/richardbarry">richardbarry</a> on August 8, 2012</div><div class="thread-post-content">The configMINIMAL&#95;STACK&#95;SIZE setting in the official MSP430X port is set to either 80 words or 110 words, depending on the data model.&nbsp; So each task will take a minimum of 220 bytes for its stack, plus another 30 or 40 bytes for its TCB.&nbsp; The scheduler itself will take about 200 bytes.  
Regards.
</div></div><div class="thread-post"><h3 class="thread-post-title">MSP430 RAM requirements</h3><div class="thread-post-author">Posted by <a href="http://sourceforge.net/users/hansmaul1">hansmaul1</a> on August 9, 2012</div><div class="thread-post-content">Thanks&#33; This helps&#33;
</div></div><div class="thread-post"><h3 class="thread-post-title">MSP430 RAM requirements</h3><div class="thread-post-author">Posted by <a href="http://sourceforge.net/users/modiallen">modiallen</a> on August 14, 2012</div><div class="thread-post-content">Hi Richard,<br />
i have a question about the needed memory for the queues.  
-does a queue need memory only on RAM or it needs space in the flash-memory too?<br />
-is the needed place in RAM-memory a part of the stack of some tasks, or did a queue get a separate RAM-place, when i create it bevor the scheduler start to run.   
i am using the MSP430 too.  
thank you for your efforts.<br />
Regards.
</div></div><div class="thread-post"><h3 class="thread-post-title">MSP430 RAM requirements</h3><div class="thread-post-author">Posted by <a href="http://sourceforge.net/users/modiallen">modiallen</a> on August 14, 2012</div><div class="thread-post-content">i forget to ask this too.<br />
i would like to ask about the needed memory for a queue too.
</div></div><div class="thread-post"><h3 class="thread-post-title">MSP430 RAM requirements</h3><div class="thread-post-author">Posted by <a href="http://sourceforge.net/users/davedoors">davedoors</a> on August 14, 2012</div><div class="thread-post-content">RAM comes from the FreeRTOS heap. <a href="http://www.freertos.org/a00111.html">http://www.freertos.org/a00111.html</a>  
The amount of ROM space the queue code takes does not get more the more queues you create.
</div></div><div class="thread-post"><h3 class="thread-post-title">MSP430 RAM requirements</h3><div class="thread-post-author">Posted by <a href="http://sourceforge.net/users/modiallen">modiallen</a> on August 14, 2012</div><div class="thread-post-content">hi davedoors,<br />
yes i know this, about RAM and FreeRTOS heap.  
my questions is: how much memory space &#40;in RAM-which is here FreeRTOS heap&#41; will be needed for a queue? beside the actually storage space for the queue-elements, that i can calculate manualy.   
and if these memory space for queue &#40;or semaphors&#41; is independent from the memory stacks of the tasks.?&nbsp;   
</div></div><div class="thread-post"><h3 class="thread-post-title">MSP430 RAM requirements</h3><div class="thread-post-author">Posted by <a href="http://sourceforge.net/users/modiallen">modiallen</a> on August 14, 2012</div><div class="thread-post-content">and about the ROM, that means a queue will get pnly memory space from the RAM &#40; FreeRTOS heap &#41;. right.?
</div></div><div class="thread-post"><h3 class="thread-post-title">MSP430 RAM requirements</h3><div class="thread-post-author">Posted by <a href="http://sourceforge.net/users/davedoors">davedoors</a> on August 14, 2012</div><div class="thread-post-content"><blockquote>
  my questions is: how much memory space &#40;in RAM-which is here FreeRTOS heap&#41; will be needed for a queue
</blockquote>
If you look in queue.c, in the function that creates the queue, you will see the queue structure being allocated, and the queue storage space being allocated. The queue structure is sizeof&#40; struct QueueDefinition &#41; &#40;or sizeof&#40; xQUEUE&#41; in the code, but that will only work inside queue.c&#41;. It is not allocated on a task stack. There is no way it could be allocated on a task stack, otherwise it would not exist when the function that created the queue returned.  
<blockquote>
  and about the ROM, that means a queue will get pnly memory space from the RA
</blockquote>
How would a queue get memory from ROM?
</div></div><div class="thread-post"><h3 class="thread-post-title">MSP430 RAM requirements</h3><div class="thread-post-author">Posted by <a href="http://sourceforge.net/users/modiallen">modiallen</a> on August 14, 2012</div><div class="thread-post-content">thank you for your answers.  
i ment that, the only memory space that is required for the queue is in the RAM and queue dont get memory space in ROM.<br />
but your answer did already explain these too.  
thank you.  
</div></div></main>
<!-- BEGIN Footer -->
<div align="center">
      <div class="menu-footer-container"><footer class="footer-menu"><a href="#page_top" target=""><small>[ Back to the top ]</small></a>&nbsp;&nbsp;<a href="/Why-FreeRTOS" target=""><small>[ About FreeRTOS ]</small></a>&nbsp;&nbsp;<a href="/Other/privacy" target=""><small>[ Privacy ]</small></a>&nbsp;&nbsp;<small>[<a href="javascript:void(0)" onclick="window.location='mailto:info@freertos.org?subject=Website feedback'">Report an error on this page</a><noscript><a href="http://w2.syronex.com/jmr/safemailto/#noscript">Report an error on this page (with anti-spam)</a></noscript>]</small></footer></div>  </div>
  <div align="center" class="normal_text" style="padding: 0 0 100px;">
    <font size="1"><div align="center">Copyright (C) Amazon Web Services, Inc. or its affiliates. All rights reserved.</div></font>
  </div>
<!-- END Footer -->
</div>
<!-- END #main_content -->
</td>
<!-- END #td_main_content_column -->
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>