<!doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Requirements RTOS - FreeRTOS</title>
<link rel="canonical" href="/FreeRTOS_Support_Forum_Archive/February_2011/freertos_Requirements_RTOS_4102523.html" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Requirements RTOS - FreeRTOS" />
<meta property="og:description" content="Requirements RTOSPosted by myzinsky on February 11, 2011What are the Requirements on a CPU to run Free RTOS? Regards Requirements RTOSPosted by davedoors on February 11, 2011Your question is way way too vague to be able to answer. Requirements RTOSPosted by myzinsky on February 14, 2011okay, i&#8217;m currently designing a processor, what do i need? &hellip;" />
<meta property="og:url" content="/FreeRTOS_Support_Forum_Archive/February_2011/freertos_Requirements_RTOS_4102523.html" />
<meta property="og:site_name" content="FreeRTOS" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="Requirements RTOSPosted by myzinsky on February 11, 2011What are the Requirements on a CPU to run Free RTOS? Regards Requirements RTOSPosted by davedoors on February 11, 2011Your question is way way too vague to be able to answer. Requirements RTOSPosted by myzinsky on February 14, 2011okay, i&#8217;m currently designing a processor, what do i need? [&hellip;]" />
<meta name="twitter:title" content="Requirements RTOS - FreeRTOS" />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="FreeRTOS &raquo; Feed" href="/feed/" />
<link rel="alternate" type="application/rss+xml" title="FreeRTOS &raquo; Comments Feed" href="/comments/feed/" />
<link rel='stylesheet' id='freertos-css'  href='/wp-content/themes/freertos/css/freertos.css?ver=1579201967' type='text/css' media='all' />
<link rel='stylesheet' id='new-styles-css'  href='/wp-content/themes/freertos/css/new-styles.css?ver=1579201967' type='text/css' media='all' />
<link rel='stylesheet' id='subheader-dropdown-css'  href='/wp-content/themes/freertos/css/subheader-dropdown.css?ver=1579201967' type='text/css' media='all' />
<link rel='stylesheet' id='download-css'  href='/wp-content/themes/freertos/css/download.css?ver=1579201967' type='text/css' media='all' />
<link rel='https://api.w.org/' href='/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml" /> 
<link rel='shortlink' href='/?p=138557' />
<link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed?url=https%3A%2F%2F%2FFreeRTOS_Support_Forum_Archive%2FFebruary_2011%2Ffreertos_Requirements_RTOS_4102523.html" />
<link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed?url=https%3A%2F%2F%2FFreeRTOS_Support_Forum_Archive%2FFebruary_2011%2Ffreertos_Requirements_RTOS_4102523.html&#038;format=xml" />
<link rel="icon" href="/wp-content/uploads/2019/02/cropped-freertos-favicon-32x32.png" sizes="32x32" />
<link rel="icon" href="/wp-content/uploads/2019/02/cropped-freertos-favicon-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="/wp-content/uploads/2019/02/cropped-freertos-favicon-180x180.png" />
<meta name="msapplication-TileImage" content="/wp-content/uploads/2019/02/cropped-freertos-favicon-270x270.png" />
  <link rel="stylesheet" type="text/css" href="/wp-content/themes/freertos/css/vendor/google-code-prettify/sons-of-obsidian.css">
</head>
<body class="support_forum-template-default single single-support_forum postid-138557">
<a name="page_top"></a>
<table>
<tr>
<td valign="top">
<table class="fr-page-top-table" cellpadding="5" cellspacing="0" align="center">
<!-- BEGIN Header -->
<tr id="main_top_header" valign="top">
  <td colspan="3" style="font-family: Arial, Helvetica; height: 100px;">
    <table class="main_top_header" style="width: 100%;" cellspacing="2" cellpadding="0" border="0">
      <tr style="padding: 0;">
        <td>
          <table width="100%" cellpadding="0" cellspacing="5px" style="table-layout:fixed;">
            <tr>
              <td style="line-height: normal;" valign="middle" width="174px" id="logo_column">
                <div style="float: left;">  <a href="/index.html">    <img id="freertos_logo" src="/media/2023/logo.png" width="164" alt="" border="0" style="padding: 0 0 0 5px;">  </a></div>              </td>
              <td style="width: 5px; border-top: solid 2px #e6e6e6; border-left: solid 2px #e6e6e6; border-bottom: solid 2px #e6e6e6;">&nbsp;</td>
              <td valign="middle" style="line-height: normal; width:324px" id="page_heading_largerx">
                <h3 id="header_heading">Quality RTOS & Embedded Software                                      <br>
                    <div class="menu-header-container"><small><small><div id="logo_links"><a id="top_header_walker" href="/Documentation/02-Kernel/01-About-the-FreeRTOS-kernel/03-Download-freeRTOS/01-DownloadFreeRTOS" target=""><u>Download FreeRTOS</u></a><font size="3">&nbsp;</font></li>
</div></small></small></div>                                  </h3>
              </td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr style="height:5px;" bgcolor="#7095d3">
        <td></td>
      </tr>
    </table>
  </td>
</tr>
<!-- END Header -->
<tr valign="top">
  <!-- BEGIN #td_main_content_column -->
  <td id="td_main_content_column">
    <!-- BEGIN #main_content -->
    <div id="main_content"><div id="navigation">
      <div id="round_corner_shadow_box_container_id" class="round_corner_shadow_box_container" style="width: 90%; margin-left: auto; margin-right: auto; padding-top: 15px; line-height: normal;" align="center">
<div class="round_corner_shadow_box_shadow">
<div class="round_corner_shadow_box_content"><span style="color: #ff0000;"><strong>NOTE</strong></span>:This is a read only archive of threads posted to the FreeRTOS support forum.  Use these archive pages to search previous posts.  New forum support threads can be started at the <a href="https://forums.freertos.org/" target="_blank" rel="noopener">FreeRTOS forums</a>.  </div>
</div>
</div>
<h2>FreeRTOS Support Archive</h2>
<p>The <a href="https://forums.freertos.org/" target="_blank" rel="noopener">FreeRTOS support forum</a> can be used for active support both from Amazon Web Services and the community. In return for using our software for free, we request you play fair and do your bit to help others! Sign up for an account and receive notifications of new support topics then help where you can.</p>
<p><img class="alignnone  wp-image-150316" src="/media/2024/forums_notification_instructions.png" alt="" width="265" height="204" srcset="/media/2024/forums_notification_instructions.png 300w, /media/2024/forums_notification_instructions.png 368w" sizes="(max-width: 265px) 100vw, 265px" /></p>
<p>&nbsp;</p>
<hr width="75%" />
<p>
This is a read only archive of threads posted to the FreeRTOS support forum.  Use these archive pages to search previous posts.  New forum support threads can be started at the <a href="https://forums.freertos.org/" target="_blank" rel="noopener">FreeRTOS forums</a>.  </p>
<p>&nbsp;</p>
    <br>
  <p>
    <br>
    <b>
      [<a href="http://www.freertos.org/" target="_blank">FreeRTOS Home</a>]&nbsp;&nbsp;
      [<a href="https://forums.freertos.org/" target="_blank">Live FreeRTOS Forum</a>]&nbsp;&nbsp;
      [<a href="/Why-FreeRTOS/FAQs" target="_blank">FAQ</a>]&nbsp;&nbsp;
              [<a href="/FreeRTOS_Support_Forum_Archive/freertos_support_forum_archive_index.html/">Archive Top</a>]&nbsp;&nbsp;
                    [<a href="/FreeRTOS_Support_Forum_Archive/February_2011_freertos_support_forum_archive_index.html/">February 2011 Threads</a>]
          </b>
  </p>
</div>
  <main class="main-content"><div class="thread-post"><h2 class="thread-post-title">Requirements RTOS</h2><div class="thread-post-author">Posted by <a href="http://sourceforge.net/users/myzinsky">myzinsky</a> on February 11, 2011</div><div class="thread-post-content">What are the Requirements on a CPU to run Free RTOS?<br />
Regards  
</div></div><div class="thread-post"><h3 class="thread-post-title">Requirements RTOS</h3><div class="thread-post-author">Posted by <a href="http://sourceforge.net/users/davedoors">davedoors</a> on February 11, 2011</div><div class="thread-post-content">Your question is way way too vague to be able to answer.
</div></div><div class="thread-post"><h3 class="thread-post-title">Requirements RTOS</h3><div class="thread-post-author">Posted by <a href="http://sourceforge.net/users/myzinsky">myzinsky</a> on February 14, 2011</div><div class="thread-post-content">okay, i&#8217;m currently designing a processor, what do i need?  
&#42; ram size ?<br />
&#42; timer ?<br />
&#42; stack ?  
what are the basic requirements for free rtos?
</div></div><div class="thread-post"><h3 class="thread-post-title">Requirements RTOS</h3><div class="thread-post-author">Posted by <a href="http://sourceforge.net/users/richard_damon">richard_damon</a> on February 14, 2011</div><div class="thread-post-content">The most basic answer is you need to be able to provide the equivalent code to what is provided in port.c and portmacro.h in other ports.  
A basic list of what this entails is:<br />
1&#41; A timer, with code to set it up, normally on a low/lowest interrupt priority. Strictly speaking, FreeRTOS can somewhat run without a timer, you just lose the ability for a task to delay for a period, abort a wait after a timeout, and automatically round robin tasks of equal priority. Even if you don&#8217;t have a precise timer interrupt, you can often do &#8220;good enough&#8221; with any form of interrupt that happens at a reasonable, if not consistent, rate &#40;it just says the accuracy of time periods isn&#8217;t very good&#41;.  
2&#41; You need to provide a way to save the state of a task, and to restore that state either in a interrupt or not &#40;or have a way for the software to generate an interrupt used to save the task state&#41;. Note also, that &#8220;Task State&#8221; includes the tasks stack, so a processor with the stack at a fixed location may not work well.  
3&#41; It needs enough memory to run. FreeRTOS itself doesn&#8217;t use much memory, The biggest use of ram are the tasks themselves, each needing there own stack and other ram. Unless your tasks are very simple, the overhead for FreeRTOS is probably minor compared to the tasks themselves. I would try to make it work on a machine with only 256 bytes of ram, 4k is workable if you don&#8217;t need much ram in the tasks for buffers, and not a large number of tasks.
</div></div><div class="thread-post"><h3 class="thread-post-title">Requirements RTOS</h3><div class="thread-post-author">Posted by <a href="http://sourceforge.net/users/myzinsky">myzinsky</a> on February 14, 2011</div><div class="thread-post-content">thank you for this detailed answer&#33;  
regards myzinsky
</div></div></main>
<!-- BEGIN Footer -->
<div align="center">
      <div class="menu-footer-container"><footer class="footer-menu"><a href="#page_top" target=""><small>[ Back to the top ]</small></a>&nbsp;&nbsp;<a href="/Why-FreeRTOS" target=""><small>[ About FreeRTOS ]</small></a>&nbsp;&nbsp;<a href="/Other/privacy" target=""><small>[ Privacy ]</small></a>&nbsp;&nbsp;<small>[<a href="javascript:void(0)" onclick="window.location='mailto:info@freertos.org?subject=Website feedback'">Report an error on this page</a><noscript><a href="http://w2.syronex.com/jmr/safemailto/#noscript">Report an error on this page (with anti-spam)</a></noscript>]</small></footer></div>  </div>
  <div align="center" class="normal_text" style="padding: 0 0 100px;">
    <font size="1"><div align="center">Copyright (C) Amazon Web Services, Inc. or its affiliates. All rights reserved.</div></font>
  </div>
<!-- END Footer -->
</div>
<!-- END #main_content -->
</td>
<!-- END #td_main_content_column -->
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>